<div class="app-component app-theme" *ngIf="appActive">
    <div class="" *ngIf="configError">
        <div class="config-error-container">
            <p>ERROR NO CONFIG FILE LOADED</p>
        </div>
    </div>
    <mat-sidenav-container *ngIf="!configError">
        <mat-sidenav class="side-nav" #sidenav>
            <a href="javascript:void(0);" (click)="sidenav.toggle()" [routerLink]="['/profile']" mat-menu-item>
                <mat-icon svgIcon="face"></mat-icon><span>Profile</span>
            </a>
            <a href="javascript:void(0);" (click)="sidenav.toggle()"  [routerLink]="['/guide']" mat-menu-item>
                <mat-icon svgIcon="help"></mat-icon><span>Guide</span>
            </a>
            <a href="javascript:void(0);" (click)="sidenav.toggle(); onLogOut()" class="log-out" mat-menu-item>
                <mat-icon svgIcon="exit"></mat-icon><span>Logout</span>
            </a>
        </mat-sidenav>
               
        <toolbar [sidenavRef]="sidenav"></toolbar>
        <div class="container-fluid">
            <alert class="alert-container"></alert>
            <div class="router-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>
</div>
